[Unit]
Description=Update Plugin Loader
Requires=network.target network-online.target systemd-sysext.service

[Timer]
OnCalendar=hourly

[Install]
WantedBy=timers.target
