[Unit]
Description=Apply Kernel Command Line Extensions
Requires=systemd-sysext.service
DefaultDependencies=false
Requires=systemd-sysext.service tmp.mount
After=systemd-sysext.service tmp.mount
Before=sysinit.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/steamos-extension-kernel-cmdline
RemainAfterExit=true

[Install]
WantedBy=sysinit.target
