[Unit]
Description=Performance Tuner
Requires=systemd-sysext.service
DefaultDependencies=false
Requires=systemd-sysext.service tmp.mount
After=systemd-sysext.service tmp.mount
Before=sysinit.target steamos-extension-kernel-cmdline.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/steamos-extension-performance-tuning
RemainAfterExit=true

[Install]
WantedBy=sysinit.target steamos-extension-kernel-cmdline.service
